<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Pacman HTML5</title>

<meta name="description" content="Play Pacman for free on your desktop or mobile device. This whole game is open source and was created in HTML5.">
<meta name="page-topic" content="Games/Arcade">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Stylesheets -->
<link href="//fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
<link href="stylesheets/style.css" rel="stylesheet">
<link href="stylesheets/pacman.css" rel="stylesheet">

<!-- Icons -->
<link href="images/icon-130x130.png" rel="shortcut icon" type="image/x-icon">
<link href="images/icon-130x130.png" rel="apple-touch-icon" type="image/x-icon">

<!-- Scripts -->
<script src="javascripts/jquery.min.js"></script>
<script src="javascripts/hammer.min.js"></script>

  <!--[if lt IE 8]>
    <p>You are using an <strong>outdated browser</strong>. Please <a href="http://browsehappy.com/">upgrade your browser</a> to a newer version or use a different browser.</p>
  <![endif]-->

  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
  <![endif]-->
